.listagem {
    max-width: 200px;
    height:724px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 04px;
    
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.15s ease-in-out;
    
}

.listagem .pokemon:hover {
    transform: scale(1.04);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background: #FA6668;
}